In [1]:

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd


import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
advertising = pd.DataFrame(pd.read_csv("/content/Advertising.csv"))
advertising.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [6]:
X = advertising['TV']
y = advertising['Sales']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, test_size = 0.3, random_state = 100)

In [10]:
import statsmodels.api as sm

In [11]:
X_train_sm = sm.add_constant(X_train)

lr = sm.OLS(y_train, X_train_sm).fit()

In [12]:
y_train_pred = lr.predict(X_train_sm)
res = (y_train - y_train_pred)

In [13]:
X_test_sm = sm.add_constant(X_test)

y_pred = lr.predict(X_test_sm)

In [14]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [15]:
np.sqrt(mean_squared_error(y_test, y_pred))

2.8241456288327003

In [16]:
r_squared = r2_score(y_test, y_pred)
r_squared

0.5942987267783303